<!doctype html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <title>Angband Live</title>
    <meta name='description' content='Web based client for playing Angband and variants remotely. Supports recording and live spectating.'>
    <link rel='icon' type='image/png' href='/favicon.png'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet'>
    <link rel='stylesheet' href='/css/index.css'>
    <script type='text/javascript' src='/js/jquery-3.2.1.min.js'></script>
  </head>
  <body>
    <div id='container'><%- include('header.ejs', { pageTitle: 'Home' }) %><div id='content' class='flexbox'>
        <div id='left-pane'>
		<div id='news'><% news.forEach(function(n) { %><section>
			  <div class="title"><%= n.title %></div>
			  <div class="content"><% n.content.forEach(function(p) { %><%- p %><% }); %></div>
			  <div class="footer">published at <span><%= n.timestamp %></span></div>
			</section><% }); %>
		</div>
		<div class='pagerow'>
			  <div id='games'>
				<section>
				  <div class="title">Active Games</div><% var pl = players === 1 ? "user" : "users"; %><% var g = games === 1 ? "game" : "games"; %><% var verb = players === 1 ? "is" : "are"; %><div class="content"> There <%= verb %><span> <%= players %> </span><%= pl %> online playing <span><%= games %> </span><%= g %></div>
				</section>
			  </div>
		  <div id='deaths'>
			  <section>
				  <div class="title">Live Deaths</div>
				  <div class="content">
					<table>
					<tbody>
					<% latestdeaths.forEach(function(n) { %>
					<tr>
					<td><%= n.player+" was killed by "+n.killedBy %></td>
					</tr>
					<% }); %>
					</tbody>
					</table>
				  </div>
			  </section>
		  </div>
		  <div id='wins'>
			  <section>
				  <div class="title">Live Victories</div>
				  <div class="content">
					<table>
					<tbody>
					<% latestwins.forEach(function(n) { %>
					<tr>
					<td><%= n.player+" won "+n.game+" "+n.version %></td>
					</tr>
					<% }); %>
					</tbody>
					</table>
				  </div>
			  </section>
		  </div>
		</div>
		  <div class="pagerow">
		  <% if (latestdumps.length) { %>
		  <div id='dumps'>
			<section>
			<div class="title">Latest Dumps</div>
			<div class="content">
			<table>
			<tbody>
			<% latestdumps.forEach(function(n) { %>
			<tr>
			<% var date = new Date(n.sortdate) %>
			<td><%= date.toLocaleTimeString('en-GB',{hour:'numeric',minute:'numeric',hour12:false}) %></td>
			<td>
			<a href="<%= 'https://forum.angband.live/ladder-show.php?id='+n.id %>"><%= n.name %></a>
			<% if (n.date_upd !== '0000-00-00 00:00:00') { %>
				<img src="/img/jimmac-updated.png" title="updated" alt="updated" align="absbottom" width="16" height="16">
			<% } %>
			<% if (n.status === "winner") { %>
				<img src="/img/orcrist-crown.gif" align="absbottom" alt="winner" title="winner" width="16" height="16">
			<% } else if (n.status === "dead") { %>
				<img src="/img/orcrist-skull.gif" align="absbottom" alt="dead" title="dead" width="16" height="16">
			<% } %>
			</td>
			<td><%= n.variant %></td>
			<td><%= "CL"+n.level %></td>
			<td><%= n.username.length ? n.username : "<"+n.email+">" %></td>
			</tr>
			<% }); %>
			</tbody>
			</table>	      
			</div>
			</section>
		  </div>
		  <% } %>
		  <% if (latestscreens.length) { %>
		  <div id='screens'>
			  <section>
				  <div class="title">Latest Screenshots</div>
				  <div class="content">
					<table>
					<tbody>
					<% latestscreens.forEach(function(n) { %>
					<tr>
					<td><%= n.time_f %></td>
					<td><a href="<%= 'https://forum.angband.live/screen-show.php?id='+n.id %>"><%= n.name %></a></td>
					<td><%= n.variant %></td>
					<td><%= n.username.length ? n.username : "<"+n.email+">" %></td>
					</tr>
					<% }); %>
					</tbody>
					</table>
				  </div>
			  </section>
		  </div>
		  <% } %>
		  </div>
        </div>
        <div id='right-pane'>
          <div id='login'><% if (typeof(user)!='undefined' && user) { %><section>
              <div class="title">Login</div>
              <div class="content">
                <p>Logged in as <%= user %></p>
                <p><a class="btn" href="/logout">Logout</a></p>
              </div>
            </section><% } else { %><section>
              <div class="title">Login/Register</div>
              <div class="content">
                <form method="post" action="/enter">
                  <div><label for="username">nickname</label><input id="username" type="text" name="username" placeholder="min 3 characters.."></div>
                  <div><label for="password">password</label><input id="password" type="password" name="password" placeholder="min 8 characters.."></div>
                  <div><input type="submit" name="name" value="Enter"></div>
                </form>
              </div>
            </section><% } %></div>
          <div id='donate'>
            <section>
              <div class="title">Support the site</div>
              <div class="content text-center">
                <p>Help cover our monthly costs</p>
                <p>Github sponsors</p><iframe src="https://github.com/sponsors/Owen-GHB/button" title="Sponsor Owen-GHB" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
                <p>Paypal</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="RTYK92PSGSRGE"><input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1"></form>
              </div>
          </div>
          </section>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
