<!doctype html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <title>Angband Live</title>
    <meta name='description' content='A home for angband on the web. Play games, upload characters, join discussions.'>
    <link rel='icon' type='image/png' href='/favicon.png'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <link rel='stylesheet' href='/css/index.css'>
    <script type='text/javascript' src='/js/jquery-3.2.1.min.js'></script>
  </head>
  <body>
    <div id='container'><%- include('header.ejs', { pageTitle: 'Home' }) %><div id='content' class='flexbox'>
        <div id='left-pane'>
		<div id='description'>
		<section>
		<div class='content'>
		<p><a href="https://githib.angband.io/angband"><big>Angband</big></a> is a dungeon crawling roleplaying game of the 
			<a href="https://roguebasin.com/index.php/What_a_roguelike_is">roguelike</a> type. It was created in 1990 at the University of Warwick based on the 
			source code for the Unix version of <a href="https://umoria.org/">Moria</a>, and released to the public in 1993 as version 
			<a href="https://githib.angband.io/angband/release/2.4.fk">2.4.frog-knows</a>. The game has had a series of different maintainers and has remained in 
			continuous development. Since 2013 the game has been maintained by <a href="https://github.com/NickMcConnell">Nick</a> and the latest release is 
			<a href="https://github.com/angband/angband/releases/latest">4.2.5</a>.
			</p>
		<p><big>Angband variants</big> are a family of similar games created by modifying the source code of Angband or another variant, made possible by the game's
			permissive <a href="https://angband.readthedocs.io/en/latest/copying.html">license</a> and well organised code. There are 
			<a href="https://nickmcconnell.github.io/AngbandPlus/">dozens</a> of such games created over the decades, some of which have rivalled the popularity 
			and complex history of Angband itself.
			</p>
		<p><big>Angband Live</big> is a platform for playing Angband and its variants online in the browser and spectating live games. Multiple historical versions and
			many variants are available to play online for free. The site also hosts the <a href="<%=ladder_url%>">Angband ladder</a>, a platform for posting 
			character sheets, and the <a href="<%=vbulletin_url%>">Angband forums</a> which are the main centre for online discussions about the game and its variants.
			</p>
		<p>This site was created by <a href="https://github.com/Owen-GHB">Gwarl</a> with significant contributions from <a href="https://github.com/kaytrance">kt</a>.
			</p>
		</div>
		</section>
		</div>
		<div class='pagerow'>
			  <div id='games'>
				<section>
				  <div class="title">Active Games</div><% var pl = players === 1 ? "user" : "users"; %><% var g = games === 1 ? "game" : "games"; %><% var verb = players === 1 ? "is" : "are"; %><div class="content"> There <%= verb %><span> <%= players %> </span><%= pl %> online playing <span><%= games %> </span><%= g %></div>
				</section>
			  </div>
		  <div id='deaths'>
			  <section>
				  <div class="title">Live Deaths</div>
				  <div class="content">
					<table>
					<tbody>
					<% latestdeaths.forEach(function(n) { %>
					<tr>
					<td><%= n.player+" was killed by "+n.killedBy %></td>
					</tr>
					<% }); %>
					</tbody>
					</table>
				  </div>
			  </section>
		  </div>
		  <div id='wins'>
			  <section>
				  <div class="title">Live Victories</div>
				  <div class="content">
					<table>
					<tbody>
					<% latestwins.forEach(function(n) { %>
					<tr>
					<td><%= n.player+" won "+n.game+" "+n.version %></td>
					</tr>
					<% }); %>
					</tbody>
					</table>
				  </div>
			  </section>
		  </div>
		</div>
		  <div class="pagerow">
		  <% if (latestdumps.length) { %>
		  <div id='dumps'>
			<section>
			<div class="title">Latest Dumps</div>
			<div class="content">
			<table>
			<tbody>
			<% latestdumps.forEach(function(n) { %>
			<tr>
			<% var date = new Date(n.sortdate) %>
			<td><%= date.toLocaleTimeString('en-GB',{hour:'numeric',minute:'numeric',hour12:false}) %></td>
			<td>
			<a href="<%= ladder_url+'/ladder-show.php?id='+n.id %>"><%= n.name %></a>
			<% if (n.date_upd !== '0000-00-00 00:00:00') { %>
				<img src="/img/jimmac-updated.png" title="updated" alt="updated" align="absbottom" width="16" height="16">
			<% } %>
			<% if (n.status === "winner") { %>
				<img src="/img/orcrist-crown.gif" align="absbottom" alt="winner" title="winner" width="16" height="16">
			<% } else if (n.status === "dead") { %>
				<img src="/img/orcrist-skull.gif" align="absbottom" alt="dead" title="dead" width="16" height="16">
			<% } %>
			</td>
			<td><%= n.variant %></td>
			<td><%= "CL"+n.level %></td>
			<td><%= n.username.length ? n.username : "<"+n.email+">" %></td>
			</tr>
			<% }); %>
			</tbody>
			</table>	      
			</div>
			</section>
		  </div>
		  <% } %>
		  <% if (latestscreens.length) { %>
		  <div id='screens'>
			  <section>
				  <div class="title">Latest Screenshots</div>
				  <div class="content">
					<table>
					<tbody>
					<% latestscreens.forEach(function(n) { %>
					<tr>
					<td><%= n.time_f %></td>
					<td><a href="<%= ladder_url+'/screen-show.php?id='+n.id %>"><%= n.name %></a></td>
					<td><%= n.variant %></td>
					<td><%= n.username.length ? n.username : "<"+n.email+">" %></td>
					</tr>
					<% }); %>
					</tbody>
					</table>
				  </div>
			  </section>
		  </div>
		  <% } %>
		  </div>
			<% if (latestreleases.length) { %>
			  <div id='releases'>
				<section>
				  <div class="title">Latest Releases</div>
				  <div class="content flexbox">
					<% for (let i = 0; i < latestreleases.length; i += 3) { %>
					  <table>
						<tbody>
						  <% for (let j = i; j < Math.min(i + 3, latestreleases.length); j++) { %>
							<tr>
							  <td><a href="https://github.com/<%=latestreleases[j].repo%>/releases/latest"><%= latestreleases[j].name+" "+latestreleases[j].version %></a></td>
							  <td><%= latestreleases[j].date %></td>
							</tr>
						  <% } %>
						</tbody>
					  </table>
					<% } %>
				  </div>
				</section>
			  </div>
			<% } %>

		  <% if (latestthreads.length) { %>
			  <div id='threads'>
					  <section>
							  <div class="title">Latest Forum Threads</div>
							  <div class="content">
									<table>
									<tbody>
									<% latestthreads.forEach(function(n) { %>
									<tr>
									<td><%= n.date %></td>
									<% if (n.forum=="Site Discussion") n.forum = "oook"; %>
									<td><a href="<%= vbulletin_url+'/'+n.category.toLowerCase().replace(/\s+/g,'-')+'/'+n.forum.toLowerCase().replace(/\s+/g,'-')+'/'+n.id %>">
										<%= n.title %>
									</a></td>
									<td><%= n.lastauthor %></td>
									<td><%= n.forum %></td>
									</tr>
									<% }); %>
									</tbody>
									</table>
							  </div>
					  </section>
			  </div>
		  <% } %>
        </div>
        <div id='right-pane'>
          <div id='login'><% if (typeof(user)!='undefined' && user) { %><section>
              <div class="title">Login</div>
              <div class="content">
                <p>Logged in as <%= user %></p>
                <p><a class="btn" href="/logout">Logout</a></p>
              </div>
            </section><% } else { %><section>
              <div class="title">Login/Register</div>
              <div class="content">
                <form method="post" action="/enter">
                  <div><label for="username">nickname</label><input id="username" type="text" name="username" placeholder="min 3 characters.."></div>
                  <div><label for="password">password</label><input id="password" type="password" name="password" placeholder="min 8 characters.."></div>
                  <div><input type="submit" name="name" value="Enter"></div>
                </form>
              </div>
            </section><% } %></div>
          <div id='donate'>
            <section>
              <div class="title">Support the site</div>
              <div class="content text-center">
                <p>Help cover our monthly costs</p>
                <p>Github sponsors</p><iframe src="https://github.com/sponsors/Owen-GHB/button" title="Sponsor Owen-GHB" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
                <p>Paypal</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="RTYK92PSGSRGE"><input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1"></form>
              </div>
          </div>
          </section>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
