<div id="header">
    <img id="logo" src="/img/logo.png">
    <div class="locationbar">
        <a href="/" class="<%= pageTitle === 'Home' ? 'akt' : '' %>">Home</a>
        <a href="/play" class="<%= pageTitle === 'Play' ? 'akt' : '' %>">Play</a>
        <a href="/ladder" class="<%= pageTitle === 'Ladder' ? 'akt' : '' %>">Ladder</a>
        <a href="/forums" class="<%= pageTitle === 'Forum' ? 'akt' : '' %>">Forum</a>
        <a href="/faq" class="<%= pageTitle === 'FAQ' ? 'akt' : '' %>">FAQ</a>
    </div>
</div>
