<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title><%= user %></title>
		<link rel="icon" type="image/png" href="/favicon.png">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
		<link rel="stylesheet" href="/css/index.css">
		<style>
			body > * {
				text-align:center;
			}
			table {
				margin:auto;
				text-align:left;
			}
		</style>
	</head>
	<body>
		<h1><%= user %></h1>
		<table>
			<tr>
				<th>Game</th>
				<th>Race</th>
				<th>Class</th>
				<th>cLvl</th>
				<th>dLvl</th>
				<th>Cause of death</th>
				<th>Date</th>
			</tr>
			<% for (var i in data) { %>
			<tr>
				<td><%= data[i].game %></td>
				<td><%= data[i].killedBy %></td>
				<td><%= data[i].race %></td>
				<td><%= data[i].class %></td>
				<td><%= data[i].dLvl %></td>
				<td><%= data[i].cLvl %></td>
				<td><%= new Date(data[i].date).toDateString() %></td>
			</tr>
			<% } %>
		</table>
	</body>
</html>